.PageContainer {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #363740;
}

.PageContainer form {
  display: flex;
  flex-direction: column;
}

.TitleContainer {
  margin-top: 100px;
  margin-bottom: 45px;
}

.CheckThe {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 0.4px;
  color: #F7F8FC;
}

.Weather {
  composes: CheckThe;
  color: #3751FF;
}

.InputBox {
  width: 485px;
  height: 39px;
  margin-top: 35px;
  padding: 15px;
  border: 0;
  outline: 0;
  background-color: #F7F8FC;
  border-radius: 8px;
  color: #363740;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.3px;
}

.InputBox::placeholder {
  color: #363740;
}

.InputBox:focus-visible {
  outline: 0;
}

.NameContainer {
  width: 485px;
}

.NameBox {
  composes: InputBox;
  width: 210.5px;
  margin-right: 32px;
}

.SignUpBtn {
  width: 515px;
  height: 69px;
  margin-top: 35px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #3751FF;
  background: #3751FF;
  color: #F7F8FC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.BackButtonContainer {
  width: 515px;
}

.BackButton {
  margin-top: 20px;
  color: #F7F8FC;
  text-decoration: none;
}