.Chatroom {
  margin: 0px 25px 37px 25px;
  height: calc(100% - 151px);
  background-color: white;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  justify-content: space-between;
}

.ChatContainer {
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  padding-left: 20px;

  div:last-child {
    scroll-snap-align: end;
  }
}

.BlueText {
  color: #3751ff;
  margin-left: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.UserImage {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
