.MiddleCard {
  display: flex;
  align-items: left;

  height: 400px;
  width: calc(100% - 50px);
  margin: 0px 25px 25px 25px;

  background: #FFFFFF;

  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
}

.Title {
  color: #9FA2B4;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 20px;
}

.Graph{
  display: flex;
  width:75%;
  background: #ffffff;
  margin-left: 20px;
  border: px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
}

.MiddleCardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.VerticalDivider {
  display: flex;
  margin-left: calc(75% + 20px);
  width: 1px;
  height: 100%;
  background-color: #dadada;

}