.TitleHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.PageTitle {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  width: 100%;
}

.UserDetails {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  width: 100%;
}

.UserImage {
  display: flex;
  justify-content: flex-end;
  margin-left: 1100px;
  height: 55px;
  width: 80px;
}
