.TopCard {
  align-items: center;
  height: 150px;
  width: 15%;

  background: #FFFFFF;

  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
}

.Title {
  color: #9FA2B4;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.Value {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #252733;
  margin: 0;
}

@media (max-width: 1600px) {
  .Title {
    font-size: 15px;
  }

  .Value {
    font-size: 30px;
  }
}