.TopCard {
  align-items: center;
  height: 80px;
  width: 15%;

  background-color: #FFFFFF;

  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
}

.Title {
  color: #9FA2B4;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 7.5px;
  margin-top: 2.5px;
}

.Value {
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #252733;
  margin: 0;
}
